@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
#wrapper {
	margin: 0.2em;
	padding: 0.2em;
	width: 90%;
	border: 1px solid black;
	float: left;
}
#filter {
	margin: 0.2em;
	padding: 0.2em;
	float: left;
	border: 1px solid red;
	width: 90%;
}
#content {
	margin: 0.2em;
	padding: 0.2em;
	float: left;
	border: 1px solid green;
	width: 90%;
}